---
---

@import "minima";

/* Make headings stand out a bit more across the site */
h2 {
  color: #0b3d91;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}
